.about__container {
  display: flex;
}
.about {
  flex: 1;
}
.about h3 {
  font-family: "TT Firs";
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}
.about h3::before {
  content: "";
  display: block;
  height: 1px;
  width: 300px;
  background-color: #ebedf3;
}
.about p {
  font-family: "Poppins", sans-serif;
  line-height: 1.7rem;
  font-size: 0.87rem;
  margin-bottom: 1.3em;
}
.img {
  flex: 1;
}
