.nav {
  display: flex;
  align-items: center;
  font-family: "TT Firs";
  height: 100px;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5em;
  margin-top: -3px;
  cursor: pointer;
}
.logo:hover {
  color: #646fd4;
  transform: rotate(-5deg);
}
.logo p {
  margin-top: -5px;
  color: #4881f2;
  font-weight: 00;
}
.links {
  padding: 0;
  display: flex;
  list-style-type: none;
  font-weight: 400;
}
.link {
  margin-right: 2em;
  font-size: 0.9rem;
}

.link:hover {
  color: #4881f2;
}
